{
    # Global options block. Entirely optional, https is on by default
    email frishi@me.com 
    acme_ca https://acme.zerossl.com/v2/DV90
}
posts.services.rishighan.com {
    reverse_proxy posts-api:5000
}

assets.services.rishighan.com {
    reverse_proxy assets-api:6000
}