{
    # Global options block. Entirely optional, https is on by default
}
posts.services.rishighan.com {
    tls {
        ca  https://acme.zerossl.com/v2/DV90
        eab UF85mazsOD8S6E3eTxVa9w t2CKRgVAPzUfJmWFfHwXP28j3v8fJgcd4AEPw8qHMnstEbktIdYbVWIDqn_UfYKmW65J1xmP609Uo6nW5X6oQg
    }
    reverse_proxy posts-api:5000
}

assets.services.rishighan.com {
    reverse_proxy assets-api:6000
}