{
    # Global options block. Entirely optional, https is on by default
}
posts.services.rishighan.com {
    tls {
        issuer zerossl aa69d181dc7a7417f2adbd65d5a3e032
    }
    reverse_proxy posts-api:5000
}
